* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 12px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    min-width: 320px;
    max-width: 600px;
    margin:0 auto;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  header {
    padding: 45px 15px;
  }
  
  section {
    min-height: 200px;
    padding: 30px 15px;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }
  
  p {
    margin: 0 auto;
    max-width: 650px;
  }
  
  p + p {
    margin-top: 15px;
  }
  
  form {
    text-align: left;
  }


  
  textarea {
    width: 100%;
    max-width: 500px;
    
  }
  
  input[type="number"] {
    width: 50px;
  }

  input[type="radio"] {
    border: 1px solid red;
  }

  .long-input {
    width: 100%;
  }
  
  label {
    display: block;
  }

  .form-title {
    font-weight:bold;
    margin-bottom: 10px;
  }

  .attitude {
      display: flex;
      flex-direction: row;
  }

  .form-inputs {
    margin-left: 20px;
  }
  
  .form-section {
    margin-bottom: 15px;
    padding-top: 15px;
  }

  .form-section-week-type {
    display:flex;
    flex-direction: row;
  }

  .week-type-desc {
    margin-left: 15px;
  }
  
  .week-type-explanation {
    font-size: 12px;
    padding: 5px 20px;
  }
  
  .week-entry {
    min-height: 0;
  }
  
  .week-entry header {
    padding: 0;
  }
  
  .week-entry header h3 {
    margin: 0;
  }
  
  .week-description {
    text-align: left;
    margin-bottom: 15px;
  }
  
  .week-stat {
    color: blue;
  }

  .course-details {
      display:flex;
      flex-direction: row;
  }

  .attitude {
    display: flex;
    flex-direction: row;
}

  .selection {
      padding:0 12px;
  }

  .course-head {
      padding: 15px 5px;
  }

  .course-title-label {
      font-weight:bold;
      width: 35%;
  }

  .add-deliverable {
      margin-left: 20px;
  }

  .week-date {
      display:flex;
      flex-direction: row;
  }

  .field-name,
  .field-name-title ,
  .add-deliverable {
    width: 35%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
  }
  .field-name,
  .field-name-title {
      border: 1px solid black;
  }

  .field-name-title {
    font-weight:bold;
    text-align:center;
  }
  